#search {
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#resultJobTitle {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 50%;
}

#resultJobTitle li  {
  border: 1px solid #ddd;
  margin-top: -1px;
  margin-bottom: 5px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  text-align: center;
}

#resultJobTitle li:hover:not(.header) {
  background-color: #ccff99;
  cursor: pointer;
}
