<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="modals">

    <!-- The Modal N E W  T E S T -->
    <div class="modal" id="createTest">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj test</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="FormCreateTest">

                        <div class="form-group row">
                            <label for="jobTitleInput" class="col-sm-2 col-form-label">ID stanowiska</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="jobTitleCreateInput" name="jobTitleInput">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="jobTitleInput" class="col-sm-2 col-form-label">ID Redaktora</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="EditorCreateInput" name="EditorInput">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="QuestionIdInput" class="col-sm-2 col-form-label">ID pytań</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="QuestionIdCreateInput" name="QuestionIdInput"> <button class="btn btn-sm btn-outline-success addQuestionToTestCreateButton" type="button">Dodaj pytanie</button>
                            </div>
                            <div id="questionsToTestCreate" class="col-sm-2 col-form-label">Id pytań: </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="FormCreateTestButton" type="button" class="btn btn-success" >Zapisz</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Zamknij</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal E D I T      T E S T -->
    <div class="modal" id="updateTest">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edytuj test</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="FormUpdateTest">

                        <div class="form-group row">
                            <label for="testId" class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="testId" name="testId">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="jobTitleInput" class="col-sm-2 col-form-label">ID stanowiska</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="jobTitleInput" name="jobTitleInput">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="QuestionIdInput" class="col-sm-2 col-form-label">ID pytań</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="QuestionIdInput" name="QuestionIdInput"> <button class="btn btn-sm btn-outline-success addQuestionToTestUpdateButton" type="button">Dodaj pytanie</button>
                            </div>
                            <div id="questionsToTest" class="col-sm-2 col-form-label">Id pytań: </div>
                        </div>

                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="FormUpdateTestButton" type="button" class="btn btn-success" >Aktualizuj</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Zamknij</button>
                </div>

            </div>
        </div>
    </div>

</th:block>
</html>