<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modals">

    <div class="modal" id="createTest">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj/importuj test</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="FormCreateTest" class="container">
                        <div class="form-group row">
                            <div class="col">
                                <label for="createTestJobTitleSelect">Stanowisko</label>
                                <select id="createTestJobTitleSelect" class="form-control rounded-1 blue-input">
                                    <option value="" selected disabled>Wybierz stanowisko:</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="createTestLanguageSelect">Język testu: </label>
                                <select id="createTestLanguageSelect" class="form-control rounded-1 blue-input">
                                    <option value="" selected disabled>Wybierz język testu:</option>
                                    <option value="PL">polski</option>
                                    <option value="EN">angielski</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="custom-file-label mx-3" for="createTestCSVImport">
                                    <span>Wybierz plik CSV z testem</span>
                                </label>
                                <input id="createTestCSVImport" class="custom-file-input" type="file"
                                       onchange="refreshFileName(this)">
                            </div>
                        </div>
                        <div class="row d-none importSuccessfulMessage">
                            <div class="col">
                                <div class="alert alert-success p-2 text-center">Pomyślnie wczytano test</div>
                            </div>
                        </div>
                        <div class="row d-none importFailedMessage">
                            <div class="col">
                                <div class="alert alert-danger p-2 text-center">asd</div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button id="FormImportTestButton" onclick="importTestFromCSV()" type="button"
                            class="btn btn-success">Importuj
                    </button>
                    <button id="FormCreateTestButton" type="button" class="btn btn-success">Zapisz</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Zamknij</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal E D I T      T E S T -->
    <div class="modal" id="updateTest">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edytuj test</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="FormUpdateTest" class="container">
                        <div class="form-group row">
                            <div class="col">
                                <label for="updatedTestId">ID testu</label>
                                <input type="text" class="form-control" id="updatedTestId" name="updatedTestId"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="updateTestJobTitleSelect">Stanowisko</label>
                                <select id="updateTestJobTitleSelect" class="form-control rounded-1 blue-input">
                                    <option value="" selected disabled>Wybierz stanowisko:</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="updateTestLanguageSelect">Język testu: </label>
                                <select id="updateTestLanguageSelect" class="form-control rounded-1 blue-input">
                                    <option value="" selected disabled>Wybierz język testu:</option>
                                    <option value="PL">polski</option>
                                    <option value="EN">angielski</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="custom-file-label mx-3" for="createTestCSVImport">
                                    <span>Wybierz plik CSV z testem</span>
                                </label>
                                <input id="updateTestCSVImport" class="custom-file-input" type="file"
                                       onchange="refreshFileName(this)">
                            </div>
                        </div>
                        <div class="row d-none importSuccessfulMessage">
                            <div class="col">
                                <div class="alert alert-success p-2 text-center">Pomyślnie wczytano test</div>
                            </div>
                        </div>
                        <div class="row d-none importFailedMessage">
                            <div class="col">
                                <div class="alert alert-danger p-2 text-center">asd</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="FormImportTestButton" onclick="importTestFromCSV()" type="button"
                            class="btn btn-success">Importuj
                    </button>
                    <button id="FormUpdateTestButton" type="button" class="btn btn-success">Aktualizuj</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Zamknij</button>
                </div>

            </div>
        </div>
    </div>

</th:block>
</html>