<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="includes :: header" />

    <link rel="stylesheet" th:href="@{/css/index.css}" href="/resources/static/css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/candidate.js}" src="/resources/static/js/candidate.js"></script>

    <script type="text/javascript" th:src="@{/js/metric/metric.js}" src="../static/js/metric/metric.js"></script>

</head>
<body>
    <th:block th:include="includes :: menu" />

    <div class="parallax-2">
        <div class="text-center title-2" >MASI RED.2</div>
    </div>

    <div class="container" >
        <div class="row justify-content-md-center mt-lg-5 mt-sm-3">
            <div class="col col-md-4 text-center mt-2">
                <button id="LanguageButtonEN" type="button" data-arg="EN" class="btn btn-outline-primary btn-lg text-uppercase rounded-1 col-sm-12">Język Angielski&nbsp;<small style="letter-spacing: 2px;">[EN]</small></button>
            </div>
            <div class="col col-md-4 text-center mt-2">
                <button id="LanguageButtonPL" type="button" data-arg="PL" class="btn btn-outline-danger btn-lg text-uppercase rounded-1 col-sm-12">Język Polski&nbsp;<small style="letter-spacing: 2px;">[PL]</small></button>
            </div>
        </div>

        <div class="row justify-content-md-center mt-lg-2 mt-sm-1">

            <div class="col col-md-4 text-center mt-2">
                <hr/>
                <h3>Wybierz Stanowisko:</h3>
            </div>

        </div>
        <div class='text-center'>
        <input class="w-50 p-3 h6 border border-secondary" type="text" id="search" onkeyup="searchFunction()" placeholder="Wyszukaj stanowisko.." title="Wpisz nazwe stanowiska" disabled >
        </div>
        <ul id="resultJobTitle" class="w-50 p-3 mx-auto list-unstyled">
        </ul>

    </div>

</body>
</html>