<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <th:block th:include="includes :: header"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}"
          href="/resources/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/login.css}"
          href="/resources/static/css/login.css"/>
</head>
<body>
<div class="parallax">
    <div class="text-center title">MASI RED.2</div>
</div>

<h1 th:if="${message != 'No message available'}" style="justify-content: center; display: flex;">
    <th:span th:text="${message}"/>
</h1>
<h1 th:if="${message == 'No message available'}" style="justify-content: center; display: flex;">
    Ups... Something went wrong...
</h1>
</body>
</html>