<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="includes :: header" />

    <link rel="stylesheet" th:href="@{/index.css}" href="/resources/static/index.css" />
    <link rel="stylesheet" th:href="@{/login.css}" href="/resources/static/login.css" />

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

</head>
<body>

<div class="parallax">
    <div class="text-center title" >MASI RED.2</div>
</div>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <form action="#" name="loginForm">
                <h3>Logowanie</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nazwa Użytkownika" value="" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Hasło" value="" required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btnSubmit">Zaloguj</button>
                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Zapomniałeś hasła?</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <form action="#" name="registerForm">
                <div class="login-logo">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                </div>
                <h3>Rejestracja</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nazwa Użytkownika" value="" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" value="" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Hasło" value="" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Imie" value="" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nazwisko" value="" required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btnSubmit" >Rejestruj</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>