<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="includes :: header" />
    <!-- moderator REST API MODALS includes -->
    <script type="text/javascript" th:src="@{/moderator-inc/mod-editor.js}" src="/resources/static/moderator-inc/mod-editor.js"></script>
    <script type="text/javascript" th:src="@{/moderator-inc/mod-test.js}" src="/resources/static/moderator-inc/mod-test.js"></script>
    <script type="text/javascript" th:src="@{/moderator-inc/mod-job.js}" src="/resources/static/moderator-inc/mod-job.js"></script>

    <link type="text/css" rel="stylesheeth" href="/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <!-- moderator GET API includes -->
    <script type="text/javascript" th:src="@{/moderator-inc/moderator-get.js}" src="/resources/static/moderator-inc/moderator-get.js" ></script>
    <!-- moderator search box includes -->
    <script type="text/javascript" th:src="@{/moderator-inc/moderator-search.js}" src="/resources/static/moderator-inc/moderator-search.js" ></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/search-box.css}"href="/resources/static/css/search-box.css"/>
    <!-- animate css for bs-notify -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- boostrap notify -->
    <script type="text/javascript" src="/webjars/bootstrap-notify/3.1.3/bootstrap-notify.js"></script>

</head>
<body>

<th:block th:include="includes :: menu" />

<div class="container mt-lg-5">
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#redaktor" role="tab" aria-controls="home" aria-selected="true">Redaktor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stanowisko" role="tab" aria-controls="profile" aria-selected="false">Stanowisko</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#test" role="tab" aria-controls="contact" aria-selected="false">Test</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <!-- REDAKTOR PANEL --><!-- REDAKTOR PANEL --><!-- REDAKTOR PANEL --><!-- REDAKTOR PANEL --><!-- REDAKTOR PANEL --><!-- REDAKTOR PANEL --><!-- REDAKTOR PANEL --><!-- REDAKTOR PANEL -->

        <div class="tab-pane fade show active" id="redaktor" role="tabpanel" aria-labelledby="home-tab">

            <button class="btn btn-outline-success btn-block mt-5 mb-5" data-toggle="modal" data-target="#createEditor"><i class="material-icons md-24">add_circle</i> Dodaj Redaktora</button>

            <table id="EditorsTable" class="table" style="width:100%" >
                <thead>
                <tr>
                    <th style="width:5%">ID</th>
                    <th style="width:15%">Username</th>
                    <th style="width:20%">Email</th>
                    <th style="width:20%">Imię</th>
                    <th style="width:20%">Nazwisko</th>
                    <th style="width:20%">Opcje</th>
                </tr>
                </thead>
                <tbody id="resultEditor">
                </tbody>
            </table>

        </div>

        <!-- STANOWISKO PANEL --><!-- STANOWISKO PANEL --><!-- STANOWISKO PANEL --><!-- STANOWISKO PANEL --><!-- STANOWISKO PANEL --><!-- STANOWISKO PANEL --><!-- STANOWISKO PANEL --><!-- STANOWISKO PANEL -->

        <div class="tab-pane fade" id="stanowisko" role="tabpanel" aria-labelledby="profile-tab">

            <button class="btn btn-outline-success btn-block mt-5 mb-5" data-toggle="modal" data-target="#createJobTitle"><i class="material-icons md-24">add_circle</i> Dodaj Stanowisko</button>

            <table id="JobTitleTable" class="table " style="width:100%">
                <thead>
                <tr>
                    <th style="width:10%">ID</th>
                    <th style="width:20%">Nazwa</th>
                    <th style="width:20%">Test</th>
                    <th style="width:10%">Aktywność</th>
                    <th style="width:40%">Opcje</th>
                </tr>
                </thead>
                <tbody id="resultJobTitle">
                <!--<td>0</td>
                <td>Junior Dev</td>
                <td>Test-01</td>
                <td>Tak</td>
                <td>
                    <button class="btn btn-sm btn-outline-info " data-toggle="modal" data-target="#updateJobTitle"><i class="material-icons md-24">add_circle_outline</i> Edytuj Stanowisko</button>
                    <button id="J0" class="btn btn-sm btn-outline-danger deleteJobTitleButton" type="button"><i class="material-icons md-24">remove_circle_outline</i> Usuń Stanowisko</button>
                    <button class="btn btn-sm btn-outline-success attachJobTestButton" type="button" data-toggle="modal" data-target="#attachJobTest" ><i class="material-icons md-24">add_circle_outline</i> Dodaj Test</button>
                    <button id="TJD0T0" class="btn btn-sm btn-outline-warning detachJobTestButton" type="button"><i class="material-icons md-24">remove_circle_outline</i> Odepnij Test</button>
                    &lt;!&ndash;<button id="DJ0" class="btn btn-sm btn-outline-default deactivateJobTitleButton" type="button"><i class="material-icons md-24">remove_circle_outline</i> Dezaktywuj Stanowisko</button>&ndash;&gt;
                </td>-->
                </tbody>
            </table>

        </div>

        <!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL --><!-- TEST PANEL -->

        <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="contact-tab">
            <button class="btn btn-outline-success btn-block mt-5 mb-5" data-toggle="modal" data-target="#createTest"><i class="material-icons md-24">add_circle</i> Dodaj test</button>

            <table id="TestTable" class="table " style="width:100%">
                <thead>
                <tr>
                    <th style="width:5%">ID</th>
                    <th style="width:20%">Stanowisko</th>
                    <th style="width:20%">Redaktor</th>
                    <th style="width:10%">Liczba pytań</th>
                    <th style="width:25%">Data utworzenia</th>
                    <th style="width:20%">Opcje</th>
                </tr>
                </thead>
                <tbody id="resultTest">
                </tbody>
            </table>
        </div>

    </div>
</div>

    <th:block th:include="moderator-inc/moderator-search :: search" />

    <!-- MODAL PANELS --><!-- MODAL PANELS --><!-- MODAL PANELS --><!-- MODAL PANELS --><!-- MODAL PANELS -->

    <th:block th:include="moderator-inc/modals-editor :: modals" />

    <th:block th:include="moderator-inc/modals-job :: modals" />

    <th:block th:include="moderator-inc/modals-test :: modals" />

</body>
</html>